/* Colors */
$whiteish: #fff;
$blackish: #110000;
$light-blue: #8ad8e2;
$pinkish: #eb6d6b;
$greyish: #8d8d8d;
$blueish: #6157e9;
$redish: #e43330;

/* Font */
$montserrat: 'Montserrat', sans-serif;

/* Font Weight */
$light: 200;
$regular: 400;
$semi-regular: 500;
$bold: 600;
$extra-bold: 700;

/* Font sizes */
$x-small: 12px;
$small: 14px;
$medium: 16px;
$large: 18px;
$x-large: 20px;
$xx-large: 35px;
$xxx-large: 50px;

